.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 37%
    right: 72%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 17%
    right: 28%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

// TAMAÑO IMAGENES //
.img18
   max-width: 18px !important
.img30
   max-width: 30px !important
.img40
  max-width: 40px !important
.img50
  max-width: 50px !important
.img60
  max-width: 60px !important
.img70
   max-width: 70px !important
.img80
   max-width: 80px !important
.img90
  max-width: 90px !important
.img100
  max-width: 100px !important
.img120
  max-width: 120px !important
.img140
  max-width: 140px !important
.img160
  max-width: 160px !important
.img180
  max-width: 180px !important
.img200
  max-width: 200px !important
.img250
  max-width: 250px !important
.img300
  max-width: 300px !important
.img350
  max-width: 350px !important
.img400
  max-width: 400px !important
.img420
  max-width: 420px !important
.img450
  max-width: 450px !important
.img600
  max-width: 600px !important
.img700
  max-width: 700px !important
.img800
  max-width: 800px !important
.img900
  max-width: 900px !important

//COLOR CONTENIDOS//
.colr
  color: white
  span
    color: white !important
//BACKGROUND CONTENIDOS//
.bgr
  background-color: $color-adicional-2
  &::before
    background-color: $color-primario
  &_1
    background-color: $color-adicional-1
  &_2
    background-color: white
    border-radius: 10px
  &_3
    background-color: #DEECFB
  &_4
    background: rgb(236,237,244);
    background: linear-gradient(90deg, rgba(236,237,244,1) 0%, rgba(255,255,255,1) 100%);
    width: fit-content
  &_5
    background-color: #ECEDF4
    padding-left: 0
  &_6
    background-image: url("../assets/curso/tema1/fondo2.svg")
    background-repeat: no-repeat
  &_7
    background-color: #DEECFB
    border-left: 10px solid #4795E9
  &_8
    background-color: #FFD7EC
    border-left: 10px solid #FF2195
  &_9
    background-color: #D1EFF2
    border-left: 10px solid #00A6B7
  &_10
    background-color: #E2EAED
    border-left: 10px solid #B6C3D4
  &_11
    background-color: #FFF6DC
  &_12
    background-color: white
    border-radius: 10px
  &_13
    .modal-a__content
      background-color: #A2CAF4
    .modal-a__close-btn 
      i
        background-color: $color-acento-botones
        padding: 0.5rem
  &_14
    background-color: #F6F6F6
    font-size: 0.875em
    font-weight: 400
  &_15
    background-color: #D1EFF2
//FONDOS COMPLETOS DE CONTENIDO//
.bg_grad-01
  position: relative
  .row, p, h2, .titulo-segundo
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -47px
    left: 0
    width: calc( 100% + 6rem)
    height: calc( 100% + 9rem)
    background-image: url("../assets/curso/tema1/fondo1.svg")
    background-repeat: no-repeat
    background-size: cover
.bg_grad-02
  position: relative
  .row, p, h2, .titulo-segundo
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -47px
    left: 0
    width: calc( 100% + 6rem)
    height: calc( 100% + 6rem)
    background-image: url("../assets/curso/tema1/fondo3.svg")
    background-repeat: no-repeat
    background-size: cover
.bg_grad-03
  position: relative
  .row, p, h2, .titulo-segundo
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -47px
    left: 0
    width: calc( 100% + 6rem)
    height: calc( 100% + 6rem)
    background-image: url("../assets/curso/tema1/fondo4.svg")
    background-repeat: no-repeat
    background-size: cover
.bg_grad-04
  position: relative
  .row, p, h2, .titulo-segundo
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 
    top: 0px
    left: -11px
    width: calc(100% + 1.4rem)
    height: 100%
    background-image: url("../assets/curso/tema1/fondo5.svg")
    background-repeat: no-repeat
    background-size: contain
    @media screen and (max-width: 420px)
      background-size: cover 
//POSICION EN PANTALLA//
.pst
  position: absolute
  top: 20px
  left: 20px
  @media screen and (max-width: 420px)
    top: -8px
    left: -33px
  &_1
    position: absolute
    bottom: 16px
    left: 95%
    @media screen and (max-width: 420px)
      bottom: 16px
      left: -10px

    
